In [1]:
import pandas as pd
import numpy as np
import random
import plotly as px
import plotly_express as go

import matplotlib.pyplot as plt
import seaborn as sns
from termcolor import colored
import warnings

color_pal = sns.color_palette("husl", 9)
warnings.filterwarnings('ignore')


import plotly.graph_objects as go
import plotly.express as px
from plotly.subplots import make_subplots

In [4]:
df = pd.read_csv("AI modelling - DATA.csv")
df

       2024-08-30 12:49:00  22.85
0      2024-08-30 12:50:00  22.85
1      2024-08-30 12:50:00  22.85
2      2024-08-30 12:51:00  22.81
3      2024-08-30 12:51:00  22.84
4      2024-08-30 12:52:00  22.82
...                    ...    ...
46979  2024-10-17 12:15:00  19.57
46980  2024-10-17 12:15:00  25.00
46981  2024-10-17 12:19:00  25.00
46982  2024-10-17 12:23:00  25.00
46983  2024-10-17 12:25:00  19.62

[46984 rows x 2 columns]